<h1>Liste des Jeux</h1>

<table>
  <head>
    <tr>
      <th>Titre</th>
      <th>Date de sortie</th>
    </tr>
  </head>
  <body>
    {{#each jeux}}
    <tr>
      <td><a href="/jeux/{{id}}/show">{{this.titre}}</a></td>
      <td>{{formatDate this.dateSortie}}</td>
      <td>{{#if this.misEnAvant}}✅{{else}}❌{{/if}}</td>
      <td>
        <!-- Bouton Modifier -->
        <a href="/jeux/{{this.id}}/edit" class="btn btn-primary">Modifier</a>

        <!-- Bouton Supprimer -->
        <form
          action="/jeux/{{this.id}}/delete"
          method="POST"
          style="display:inline;"
        >
          <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </body>
  <div class="button-container">
  <a href="/jeux/new" class="btn btn-success">Créer un nouveau jeu</a>
</div>

</table>