<h1>Liste des Jeux</h1>

<table>
  <head>
    <tr>
      <th>Titre</th>
      <th>Date de sortie</th>
      {{!-- <th>Description</th>
      <th>Genre</th>
      <th>Éditeur</th>
      <th>Mis en avant</th>
      <th>Actions</th> --}}
    </tr>
  </head>
  <body>
    {{#each jeux}}
    <tr>
      <td><a href="/jeux/{{id}}/show">{{this.titre}}</a></td>
      <td>{{formatDate this.dateSortie}}</td>
      <td>{{#if this.misEnAvant}}✅{{else}}❌{{/if}}</td>
      {{!-- <td>{{this.titre}}</td>
      <td>{{this.description}}</td>
      <td>{{this.genre.nom}}</td>
      <td>{{this.editeur.nom}}</td>
      <td>{{#if this.misEnAvant}}✅{{else}}❌{{/if}}</td> --}}
      <td>
        <!-- Bouton Modifier -->
        <a href="/jeux/{{this.id}}/edit" class="btn btn-primary">Modifier</a>

        <!-- Bouton Supprimer -->
        <form
          action="/jeux/{{this.id}}/delete"
          method="POST"
          style="display:inline;"
        >
          <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </body>
</table>

<a href="/jeux/new" class="btn btn-success">Créer un nouveau jeu</a>
<a href="/" class="btn">Retourner à l'accueil</a>
