<h1>Détails du Jeu</h1>

<table>
  <tr>
    <th>Titre :</th>
    <td>{{jeu.titre}}</td>
  </tr>
  <tr>
    <th>Description :</th>
    <td>{{jeu.description}}</td>
  </tr>
  <tr>
    <th>Date de sortie :</th>
    <td>{{formatDate jeu.dateSortie}}</td>
  </tr>
  <tr>
    <th>Genre :</th>
    <td>{{jeu.genre.nom}}</td>
  </tr>
  <tr>
    <th>Éditeur :</th>
    <td>{{jeu.editeur.nom}}</td>
  </tr>
  <tr>
    <th>Mis en avant :</th>
    <td>{{#if jeu.misEnAvant}}✅{{else}}❌{{/if}}</td>
  </tr>
</table>

<a href="/jeux" class="btn btn-primary">Retourner à la liste</a>
